<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <title>Change Password</title>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="fw-bold">Change Password</h2>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}" id="fail-alert"></div>
                        <form th:action="@{/profile/edit/password}" th:object="${changePasswordDTO}" method="post">
                            <div class="mb-3">
                                <label for="currentPassword" class="form-label">Current Password</label>
                                <input type="password" class="form-control" id="currentPassword" name="currentPassword" th:field="*{currentPassword}" required>
                            </div>
                            <div class="mb-3">
                                <label for="newPassword" class="form-label">New Password</label>
                                <input type="password" class="form-control" id="newPassword" name="newPassword" th:field="*{newPassword}" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Change Password</button>
                            <a href="/settings" class="btn btn-secondary">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var alertElement = document.getElementById('fail-alert');
            setTimeout(function() {
                alertElement.style.display = 'none';
            }, 2000);
        });
    </script>
</body>

</html>
