<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <object th:insert="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:insert="~{fragments/common :: css}" th:remove="tag"></object>
    <title>Add Product</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="container">
      <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
      <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="justify-content-center">
                    <h2>Update Product</h2>
                    <br>
                    <form th:action="@{'/update-product/'+ ${idCatalog}}" th:object="${productDTO}" enctype="multipart/form-data" method="POST">
                      <!-- <input class="form-control" type="text" th:field="*{id}" readonly="readonly" /> -->
                      <input class="form-control" type="hidden" th:field="*{id}" />
                      Name: <br>
                      <input class="form-control" type="text" th:field="*{productName}" />
                      <br><br>
  
                      Price: <br>
                      <input required class="form-control" type="number" th:field="*{price}" />
                      <br><br>
  
                      Description: <br>
                      <input class="form-control" type="text" th:field="*{productDescription}" />
                      <br><br>
  
                      Stock: <br>
                      <input required class="form-control" type="number" th:field="*{stock}" />
                      <br><br>
  
                      Image: <br>
                      <input type="file" th:field="*{imageFile}" accept="image/*" class="form-control" />
                      <br><br>
  
                      Category: <br>
                      <select class="form-control" name="category" th:field="*{category.id}">
                        <option th:each="category: ${listCategory}" th:value="${category.id}" th:text="${category.name}"></option>
                        <!-- <input type="hidden" th:field="${category.name}" /> -->
                      </select>
                      <br><br>
                      
                      <button class="btn btn-primary" type="submit">Save</button>
                      <a class="btn btn-danger" href="/">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
