<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand fw-bold text-light ms-3" href="/">APAPEDIA</a>
            </div>

            <ul class="nav navbar-nav" th:if="${username != null}">
                <li class="nav-item" ><a class="nav-link text-light ms-3" th:href="@{/order/history/56ca1e54-80a6-11ee-b962-0242ac120301}">Order History</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" th:if="${username == null}">
                <li class="nav-item">
                    <a type="button" class="btn btn-outline-success text-light ms-3" th:href="@{/login-sso}">
                        <span class="glyphicon glyphicon-log-in"></span> Sign In
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" th:if="${username != null}">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                        style="color:white;">
                        Hello, <span th:text="${username}"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light">
                        <li><a class="dropdown-item" th:href="@{/profile}">Profile</a></li>
                        <li><a type="button" class="dropdown-item" th:href="@{/logout-sso}">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</body>

</html>